body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

#display {
    width: 90%;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 36px;
    text-align: right;
    border: none;
    background-color: #34495e;
    outline: none;
    color: #ecf0f1;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    padding: 20px;
    font-size: 28px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    color: #2c3e50;
}

.btn:hover {
    background-color: #bdc3c7;
    color: #34495e;
}

.operator-btn {
    background-color: #3498db;
    color: white;
}

.operator-btn:hover {
    background-color: #2980b9;
}
